/.idea/
/.phpunit.result.cache
/bin/
/composer.lock
/doc/api/
/test/OptimizeCssTask/test01/build/
/test/OptimizeCssTask/test02/build/
/test/coverage.xml
/test/report/
/vendor/
/test/SpriteTask/test01/www/images/navigation-*.png
/test/SpriteTask/test01/www/css/navigation.css
