/.idea/
/.phpunit.result.cache
/bin/
/composer.lock
/custom.task.properties
/custom.type.properties
/doc/api/
/test/WebPackerTask/Test01/build/
/test/WebPackerTask/Test02/build/
/test/WebPackerTask/Test03/build/
/test/WebPackerTask/Test04/build/
/test/coverage.xml
/test/report/
/vendor/
/test/SpriteTask/test01-png/www/images/navigation.png
/test/SpriteTask/test01-webp/www/images/navigation.webp
/test/SpriteTask/test01-png/www/css/navigation.css
/test/SpriteTask/test01-webp/www/css/navigation.css
