/.idea/
/.phpunit.result.cache
/bin/
/composer.lock
/custom.task.properties
/custom.type.properties
/doc/api/
/test/OptimizeCssTask/test01/build/
/test/OptimizeCssTask/test02/build/
/test/OptimizeCssTask/test03/build/
/test/OptimizeCssTask/test04/build/
/test/OptimizeJsTask/Test01/build/
/test/coverage.xml
/test/report/
/vendor/
/test/SpriteTask/test01-png/www/images/navigation-*.png
/test/SpriteTask/test01-webp/www/images/navigation-*.webp
/test/SpriteTask/test01-png/www/css/navigation.css
/test/SpriteTask/test01-webp/www/css/navigation.css
