/* ID: background.css */

.red{background-image: url("/images/5cc2ffa89c1b8789a277b3c4c0c4f034.png");} .white{background-image: url("/images/c3fdb74f417fcef2d4feab4c72ad6311.png");} .blue{background-image: url("/images/210a900427f580636064557bdd9f028d.png");}
